* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* this is called a css reset where we truly start from scratch for our styling  */
}

body {
  border: 20px solid #1a1a1a;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  /* padding: 5px; */
}

.secondary-page {
  background-color: #6f8faf;
  /* background-color: #AFC4DA; Other option for background colour */
}

.subhero-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: #f5f7fa;
  font-size: 50px;
  opacity: 0.2;

  font-family: "Abril Fatface", serif;
  white-space: nowrap;
}

.secondary-nav-links {
  position: static; /*nav bar wont move when i scroll  */
  top: 10;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 20px;
}

.secondary-nav-links a {
  display: inline-block;
  padding: 0px 20px;
  background-color: #333333;
  margin: 5px;
  text-decoration: none;
  color: #f5f7fa;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Alegreya Sans SC", sans-serif;
}

.secondary-nav-links a:hover {
  filter: brightness(1.5);
  /* brightens on hover */
}

.home-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.home-btn img {
  width: 60px;
  height: auto;
  display: block;
}

.next-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.next-btn img {
  width: 60px;
  height: auto;
  display: block;
}

.filter-btn {
  position: fixed;
  top: 30px;
  left: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.filter-btn img {
  width: 60px;
  height: auto;
  display: block;
}

.home-btn:hover img,
.next-btn:hover img,
.filter-btn:hover img {
  filter: brightness(1.5);
  /* brightens on hover */
}

.card-container {
  display: flex;
  flex-direction: column; /*stack featured on top of other cards */
  gap: 80px; /* gap between featured and row cards*/
  justify-content: center;
  padding: 100px 20px;

  align-items: center;
  min-height: 100vh;
  margin-top: 40px;
}

.card {
  background-color: #f5f7fa;
  border-radius: 20px;
  padding: 15px;
  width: 300px;
  height: 300px;

  /* Cloud shape using border-radius
  border-radius: 50% 50% 50% 50% / 30% 30% 30% 30%;
  box-shadow:
    0 0 0 18px rgba(255,255,255,0.3),
    0 0 0 36px rgba(255,255,255,0.15),
    0 8px 30px rgba(0, 0, 0, 0.15);  */

  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  /* will keep stack and githubLink at bottom of card always*/
  display: flex;
  flex-direction: column;
}

.card-featured {
  width: 700px;
  height: 550px;
  padding: 20px; /* inside padding of info in card */

  align-items: center;
}

.card-featured .card-img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: fill; /* fill the cover space , contain and cover were scaling img */
  margin-bottom: 10px;
}

.card-row {
  display: flex;
  gap: 100px; /*gap between cards in row */
  justify-content: center;
  flex-wrap: wrap;
}

.card-row .card {
  width: 300px;
  height: 450px;
}

.card-row .card-img {
  height: 40%;
  width: 100%;
  margin-bottom: 10px;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-6px);
  box-shadow:
    0 0 0 18px rgba(255, 255, 255, 0.35),
    0 0 0 36px rgba(255, 255, 255, 0.2),
    0 12px 40px rgba(0, 0, 0, 0.2);
}

.card-divider {
  width: 100%;
  height: 5px;
  background-color: #6f8faf;
  margin: 0 0 16px;
  border-radius: 2px;
}

.card-title {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 18px;
  color: #02367b;
  margin-bottom: 4px;
}

.card-featured .card-title {
  font-size: 26px;
}

.card-description {
  font-size: 14px;
  color: #1a1a1a;
  /* margin-bottom: 20px; */
}

.card-featured .card-description {
  font-size: 16px;
}

.card-stack {
  font-size: 11px;
  color: #1a1a1a;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 6px;
  padding: 4px 8px;
  margin-top: auto;
  text-align: center;
}

/* Filter Button Code  */

.card-githubLink {
  font-size: 11px;
  color: #1a1a1a;
  background-color: #e0e0e0;
  width: 100%;
  border-radius: 6px;
  padding: 4px 8px;
  margin-top: 8px;
  text-align: center;
  text-decoration: none; /* removes the underline from link */
  display: inline-block; /* makes padding apply in the correct way*/
}

.card-githubLink:hover {
  background-color: #6f8faf;
}

#category-filter {
  display: none;
  position: fixed;
  top: 100px; /* sits just below the filter btn */
  left: 30px;
  z-index: 10;
  padding: 8px;
  border-radius: 8px;
  background-color: #3a3a3a;
  color: #f5f7fa;
  border: none;
  cursor: pointer;
}
